.App {
  text-align: center;
}

.List {
  text-align: left;
  margin: auto;
  width: 700px;
  background-color: bisque;
}

.ItemImage {
  max-width: 100px;
  max-height: 100px;
}

.ItemControl {
  display: flex;
  justify-content: space-between;
}

.Popup {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 999;
}

.checkboxCompleted {
  transform: scale(150%);
  margin-top: 10px;
}